@model LibraryDb.Models.CustomerBook

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CustomerBook</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customers.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Books)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Books.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateOfLoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateOfLoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateOfLoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDateOfLoan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CustomerBookId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
