@model IEnumerable<LibraryDb.Models.CustomerBook>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateOfLoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDateOfLoan)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Books.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateOfLoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateOfLoan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerBookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerBookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerBookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
